*{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.nav1{
    background-color: rgb(255, 255, 255);
    gap: 2rem;
    font-size: 1.5rem;
    justify-content: space-around;
}
a,.btn{
  transition: all 300ms ease;
}
a img{
    width:50px;
    border-left:0%;
}
body{
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div.px-5{
    background-color: rgb(255, 255, 255);
}
div.px-2{
    background-color: rgb(255, 255, 255);
}
h1.a{ 
    padding-bottom: 40px;
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img.img-fluid{
    width: 20px;
}
button.navbar-toggler{
  transition:400ms;
}
button.navbar-toggler:hover{
  opacity: 0.4;
}
img.a{
    width: 80px;
    justify-content: center;
}
a.nav-link {
    filter: blur(0.5px);
    transition: 400ms;
    color:#fff;
    font-size: 1.5rem;
  }
  a.nav-link:hover {
    
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }
img.b{
    width:112px;
    justify-content: center;
}
img.c{
    width: 130px;
    justify-content: center;
}
  a.c{
    font-size: larger;
    color: #000000;
  }


  /* SESSÃO DE PERFIL */

  .section-container{
    display: flex;
  }
  .section-text{
    align-self: center;
    text-align: center;
  }
  #profile{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin: 5rem;
  }
  .section__pic-container{
    display:flex;
    height: 400px;
    width:400px;
    margin: auto 0;
  }

  .section-text p{
    font-weight: 600;
    color: #000000;
  }

  .section__text__p1{
    font-size: 1.30rem;
    text-align: center;
  }
  .section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .title{
    color: black;
    font-size: 3rem;
    text-align: center;
    transition: 400ms;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .title:hover{
    cursor:default;;
    opacity: 0.8;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
    text-decoration-thickness: 2px;
  }
  
  #social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .icon{
    cursor: pointer;
    height: 2rem;
  }

  .btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .button{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    text-decoration: none;
  }
  
  .btn-color-1{
    border: rgb(53,53,53)0.1rem solid;
  }
  .btn-color-1{
    background: rgb(53,53,53);
    color: rgb(0, 0, 0);
  }
  .btn-color-1:hover{
    background: rgb(53,53,53);
    color: white;
  }
  .btn-color-1{
    background: none;
  }
    .btn-color-1:hover{
    border:rgb(255, 255, 255) 0.1rem solid;
    cursor:pointer;
    color: white;
  }

  /* SESSÃO SOBRE MIM*/
  #quemsoueu{
    position: relative;
    margin: 5rem;
    height: 90vh;
    padding-top: 70px;
  }
  .sobre-p1{
    font-family: "Poppins", sans-serif;
  }
  .container-sobre{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .about-details-container{
    justify-content: center;
    flex-direction: column;
  }

  .container-sobre, .about-details-container{
    display: flex;
  }

  .sobre-foto{
    border-radius: 2rem
  }

  .sobre-h3{
    font-size: 1.30rem;
    text-align: center;
  }
  .sobre-h1{
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .icone-sobre{
    width: 40px;
  }

  .icone-flecha{
    cursor: pointer;
  }
  .flecha{
    position: absolute;
    right: 0rem;

  }

  .details-container{
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    
  }

  .section-container{
    gap: 4rem;
    height: 80%;
  }

  .section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  .flecha_quemsoueu{
    position: absolute;
    right: 0rem;
    bottom: 10vh;
    margin: 0;
  }
  /* SESSÃO SKILLS*/
#skills{
  display: flex;
  position: relative;
    justify-content: center;
    gap: 5rem;
    height: 90vh;
    margin: 5rem;
}
  .skills-h1{
    text-align: center;
    padding-bottom: 8rem;
    color: black;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .skills-p{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 1rem; 
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  }
  .skills-p2{
    color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 0;
  padding-top: 0;
  }
  .skills-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  }
  .skills-section{
    display: flex;
  justify-content: center;
  flex-direction: column;
  }
  .flecha_skills{
    position: absolute;
    right: 0rem;
    bottom: 175.5vh;
    margin: 0;
  }

  /* SESSÃO PROJETOS */

  .card-title{
    font-family: "Poppins", sans-serif;
  }
  .card-text{
    font-family: "Poppins", sans-serif;
  }

  #projetos{
    padding-bottom: 260px;
    position: relative;
    margin: 5rem;
  }

  .a.text-dark.title{
    font-weight: 500;
  }

  
  /* SESSÃO CONTATOS */
  
  #contatos{
    display: flex;
      justify-content: center;
      padding-bottom: 200px;
      flex-direction: column;
  }

  .contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }

  .contact-info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  .contact-info-container p {
    font-size: larger;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
  }
  .contact-icon{
    cursor: default;
  }
  .contact-title{
    font-weight: 500;
  }

  .email-icon {
    height: 2.5rem;
  }
  .contact-hover{
    text-decoration: none;
    color: #000000;
    transition: 300ms;
  }
  .contact-hover:hover{
    opacity: 0.4;
  }

  .navlinks {
    display: flex;
    gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  }
  .copyright{
    padding-top: 50px;
  }

  footer{
    height: 26vh;
    margin: 0 1rem;
  }

  footer p{
    text-align: center;
  }
  a.text-secondary{
    text-align: center;
    transition: 400ms;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  a.text-secondary:hover{
    cursor:pointer;
    opacity: 0.8;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
    text-decoration-thickness: 2px;
  }

  @media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contatos,
    #projetos {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #skills,
    .skills-section {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .flecha {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contatos{
      height: 60vh;

    }
    #quemsoueu{
      height: 100vh;
      font-size:small;
    }
    #skills{
      height: 130vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .container-sobre,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 1;
    }
    .contact-info-container p,
    .navlinks li a {
      font-size: 1rem;
    }

    .skills-p, .skills-p2 {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .navlinks {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  @media screen and (max-width: 400px) {
    #contatos{
      height: 80vh;

    }
    #quemsoueu{
      height: 140vh;
    }
    #skills{
      height: 180vh;
    }
    
  }